<form class="container-fluid col">
  <input
    class="form-control"
    type="text"
    name="search"
    placeholder="Busca escenarios aquí!"
    aria-label="Search"
    [(ngModel)]="search"
    [ngClass]="currentColor === 'dark' ? 'darkSearchBar' : ''"
  />
</form>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
>
  <div class="col" *ngFor="let scenario of scenarios | scenarioFilter:search">
    <div class="card h-100 shadow" [ngClass]="currentColor === 'dark' ? 'darkBorders' : ''">

      <div class="image-container">
        <button *ngIf="scenario.galeria.length > 1" class="carousel-btn left" (click)="prevImage(scenario._id, scenario.galeria.length)">&#10094;</button>

        <img class="card-img-top"
          [src]="getImageSrc(scenario)"
        />

        <button *ngIf="scenario.galeria.length > 1" class="carousel-btn right" (click)="nextImage(scenario._id, scenario.galeria.length)">&#10095;</button>
      </div>

      <div class="card-body" [ngClass]="currentColor === 'dark' ? 'darkBody' : ''">
        <h4 class="card-title" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ scenario.nombre }}</h4>
        <p class="card-text" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ scenario.descripcion }}</p>
        <button type="button" class="btn btn-danger" *ngIf="me===scenario.creator" [routerLink]="['/scenarios', scenario._id, 'edit']">
          Editar
        </button>
      </div>
    </div>
  </div>
</div>
