img{
  max-width:1500px !important;
  max-height:500px !important;
  min-width: 500px;
  min-height: 500px;
  height:90%;
  width:100%;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.carousel-image {
  transition: opacity 0.5s ease-in-out;
}

.fade {
  opacity: 1;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*dark stuff*/

.darkSearchBar{
  background-color: #131617;
  color:rgb(78, 78, 78);
  border-color: rgb(78, 78, 78);

}

.darkBody{
  background-color: #131617;
}

.darkBorders{
  border: 1px solid #323232; /* Set the border to grey when darkBorders is triggered */
  border-radius: 0.25rem; /* Optional, adds rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Light shadow effect */
  --bs-card-bg: #323232; /* Set dark background for the card */
}

.darkName{
  color:rgb(184, 184, 184) !important;
}

a.darkName {
  color: rgb(184, 184, 184) !important;
}

.card .card-body a.darkName {
  color: rgb(184, 184, 184) !important;
}

  * {
    box-sizing: border-box; /* Include padding and border in element's total width/height */
  }

.darkFooter{
  border-top: rgb(46, 46, 46) 1.5px solid !important;
}
