<form class="container-fluid col">
  <input
    class="form-control"
    type="text"
    name="search"
    placeholder="Busca escenarios aquí!"
    aria-label="Search"
    [(ngModel)]="search"
    [ngClass]="currentColor === 'dark' ? 'darkSearchBar' : ''"
  />
</form>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
>
  <div class="col" *ngFor="let scenario of scenarios | scenarioFilter:search">
    <div class="card h-100 shadow" [ngClass]="currentColor === 'dark' ? 'darkBorders' : ''">

        <img class="card-img-top" src="{{ scenario.galeria[0] }}" />
        <div class="card-body" [ngClass]="currentColor === 'dark' ? 'darkBody' : ''">
          <h4 class="card-title" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ scenario.nombre }}</h4>
          <p class="card-text" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ (scenario.descripcion) }}</p>
            <div class="card-text">

            </div>
            <button type="button" class="btn btn-danger" *ngIf="me===scenario.creator" [routerLink]="['/scenarios', scenario._id, 'edit']">Editar</button>&nbsp;
            <!--<span class="badge ms-2 bg-success">Open_Text</span>  Replace 'Open_Text' with the actual open text
            <span class="badge ms-2 bg-danger">Close_Text</span> Replace 'Close_Text' with the actual close text -->
        </div>
    </div>
  </div>
</div>
