<nav class="navbar navbar-expand navbar-dark bg-dark big-nav" [ngClass]="currentColor === 'dark' ? 'darkNav' : ''">
  <div class="container-fluid big-nav">
    <a class="navbar-brand" [routerLink]="['/campaigns', 'home']"><img src="../../../favicon.ico" style="width: 10%;"> Wiki Rolera</a>

    <ul class="navbar-nav me-auto mb-lg-0">
    </ul>

    <div class="navbar-nav mr-auto mr-lg-0">

      <div class="navbar-nav mr-auto mr-lg-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown4()" aria-expanded="false">
                General
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen4}" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" [routerLink]="['/campaigns', 'home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a class="dropdown-item" [routerLink]="['/campaigns', 'tier']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tier List</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown()" aria-expanded="false">
              Campañas
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen}" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Egathea']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Egathea</a></li>
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Caminos de Sangre']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">C. Sangre</a></li>
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Aryma']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Aryma</a></li>
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Yggdrassil']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Yggdrassil</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar-nav mr-auto mr-lg-0">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown text-center">
    <ul class="navbar-nav">
      <li class="nav-item dropdown position-relative">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDarkDropdownMenuLink"
          role="button"
          (click)="toggleDropdown5()"
          aria-expanded="false"
        >
          Aventuras
        </a>

        <!-- Submenu container centered under "Aventuras" -->
        <div
          class="sub-dropdown d-flex justify-content-center position-absolute"
          *ngIf="isDropDownOpen5"
        >
          <!-- "De Campañas" -->
            <div class="position-relative mx-2">
          <button class="dropdown-toggle-custom" (click)="toggleA()">De Campañas</button>
          <ul class="submenu-dropdown campaigns-menu" *ngIf="showA">

            <!-- Egathea -->
            <li class="position-relative">
              <button class="dropdown-toggle-custom" (click)="toggleEgathea()">Egathea</button>
              <ul class="submenu-dropdown" *ngIf="showEgathea">
                <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Guardianes del Cosmos']">Guardianes del Cosmos</a></li>
              </ul>
            </li>

            <!-- Aryma -->
            <li class="position-relative">
              <button class="dropdown-toggle-custom" (click)="toggleAryma()">Aryma</button>
              <ul class="submenu-dropdown" *ngIf="showAryma">
                <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Pruebas']">Guerreros de la Oscuridad</a></li>
              </ul>
            </li>

            <!-- Yggdrassil -->
            <li class="position-relative">
              <button class="dropdown-toggle-custom" (click)="toggleYgg()">Yggdrassil</button>
              <ul class="submenu-dropdown" *ngIf="showYgg">
                <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Historias Yggdrassil']">Historias de Yggdrassil</a></li>
                <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Guerreros de la Luz']">Guerreros de la Luz</a></li>
              </ul>
            </li>

          </ul>
        </div>



          <!-- "Standalone" -->

          <div class="position-relative mx-2">
            <button class="dropdown-toggle-custom" (click)="toggleB()">Standalone</button>
            <ul class="submenu-dropdown" *ngIf="showB">
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Djuna']">Djuna Adventures</a></li>
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Mario']">Cruzados Mario</a></li>
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Reinos Olvidados']">Reinos Olvidados</a></li>
            </ul>
          </div>


          <!-- "Otros" -->
          <div class="position-relative mx-2">
            <button class="dropdown-toggle-custom" (click)="toggleC()">Otros</button>
            <ul class="submenu-dropdown" *ngIf="showC">
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Miscelanea']">Miscelánea & Etc</a></li>
              <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Cosmos']">Cosmos</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="navbar-nav mr-auto mr-lg-0">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown6()" aria-expanded="false">
          Escenarios
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen6}" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" [routerLink]="['/scenarios', 'home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Todos los Escenarios</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="navbar-nav mr-auto mr-lg-0">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown7()" aria-expanded="false">
          Funciones
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen7}" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" [routerLink]="['/functions', 'initiative']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Iniciativa Tracker</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

    <div class="navbar-nav mr-auto mr-lg-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown3()" aria-expanded="false">
              Crear
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen3}" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" [routerLink]="['/characters', 'add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nuevo Personaje</a></li>
              <li><a class="dropdown-item" [routerLink]="['/games', 'add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nueva Partida</a></li>
              <li><a class="dropdown-item" [routerLink]="['/factions', 'add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nueva Facción</a></li>
              <li><a class="dropdown-item" [routerLink]="['/scenarios', 'add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nuevo Escenario</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="navbar-nav mr-auto mr-lg-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown2()" aria-expanded="false">
              Cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen2}" aria-labelledby="navbarDarkDropdownMenuLink">
              <li *ngIf="!isLogged"><a class="dropdown-item" [routerLink]="['/auth', 'login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
              <li *ngIf="!isLogged"><a class="dropdown-item" [routerLink]="['/auth', 'register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Registro</a></li>
              <li><a class="dropdown-item" [routerLink]="['/users', 'me']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Perfil</a></li>
              <li><a class="dropdown-item" (click)="logOut()">Log-out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark small-nav">
  <div class="container-fluid small-nav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdownSmall()" aria-expanded="false">
            <img src="../../../favicon.ico" style="width: 10%;"> Wiki Rolera
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpenSmall}" aria-labelledby="navbarDarkDropdownMenuLink">

            <!--Sitios-->
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown4()" aria-expanded="false">
                      Principal
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen4}" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" [routerLink]="['/campaigns', 'home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/campaigns', 'tier']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tier List</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </a></li>

            <!--Campañas-->
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown()" aria-expanded="false">
                      Campañas
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen}" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Egathea']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Egathea</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Caminos de Sangre']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">C. Sangre</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Aryma']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Aryma</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/campaigns', 'Yggdrassil']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Yggdrassil</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </a></li>

            <!--Crear-->
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <div class="navbar-nav mr-auto mr-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown3()" aria-expanded="false">
                        Crear
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen3}" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/characters', 'add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nuevo Personaje</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/games', 'add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nueva Partida</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>

            <!--Cuenta-->
            <li><a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <div class="navbar-nav mr-auto mr-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" (click)="toggleDropdown2()" aria-expanded="false">
                        Cuenta
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" [ngClass]="{'show': isDropDownOpen2}" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['/auth', 'login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/auth', 'register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Registro</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/users', 'me']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Perfil</a></li>
                        <li><a class="dropdown-item" (click)="logOut()">Log-out</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
