
<ul class="tabs-container">
  <li (click)="onTabClick('Stats')" class="tab-link">Stats</li>
  <li (click)="onTabClick('General')" class="tab-link">General</li>
  <li (click)="onTabClick('Lore')" class="tab-link">Lore</li>
  <li (click)="onTabClick('Media')" class="tab-link">Media</li>
</ul>
<h2>{{character.nombre}}</h2>

<div class="container">
<div *ngIf="character">

  <div *ngIf="activeTab ==='Media'">
    <img class="card-img-top" src="{{ character.fotoPerfil }}" />
  </div>

  <br>
  <div class="monster-sheet">

    <div *ngIf="activeTab ==='General'">
    <p class="intergalactico" *ngIf="character.intergalactico"><span>Intergalático</span></p>
    <p class="intergalactico" *ngIf="character.muerto"><span>Personaje Fallecido</span></p>
    <p><strong>Titulos:</strong> {{character.titulo}}</p>
    <p><strong>Descripcion:</strong> {{character.descripcion}}</p>
    <p><strong>Edad:</strong> {{character.edad}}</p>
    <p><strong>Altura:</strong> {{character.altura}} cm | {{(character.altura / 100)}} m</p>
    <p><strong>Peso:</strong> {{character.peso}} Kg {{calculateWeight(character.peso, 1000)}}</p>
    <p><strong>Campaña:</strong> {{character.campanya}}</p>
    <p><strong>Aparición en la Campaña:</strong> Partida nº {{character.partidaAparicion}}</p>

    <div *ngIf="character.campanyasSecundarias">
        <p *ngFor="let c of character.campanyasSecundarias"><strong>Campaña:</strong> {{c}}</p>
    </div>

    </div>

    <div *ngIf="activeTab ==='Stats' && hidden">
      <h1 class="monster-name">{{character.nombre}}</h1><img class="card-img-top fotoDNI" src="{{ character.fotoPerfil }}" />
      <div class="monster-info">

      <p><strong>Tier List:</strong> {{character.tier}}</p>
      </div>

      <p><strong>Niveles de Clase: </strong><span>|
      <hr>
      </span></p>
      <p><strong>Hit Points:</strong> 0</p>
      <p><strong>CA:</strong> 0</p>
      <p><strong>Movimiento:</strong> 0ft | {{movementRound(0)}}m | {{movementRound(0)}}m/s</p>
      <p><strong>Competencia:</strong> +</p>

      <hr>
    <div class="monster-abilities">
      <div class="ability">
        <h4>STR</h4>
        <p>{{0}} ({{calcularStats(0)}})</p>
      </div>
      <div class="ability">
        <h4>DEX</h4>
        <p>{{0}} ({{calcularStats(0)}})</p>
      </div>
      <div class="ability">
        <h4>CON</h4>
        <p>{{0}} ({{calcularStats(0)}})</p>
      </div>
      <div class="ability">
        <h4>INT</h4>
        <p>{{0}} ({{calcularStats(0)}})</p>
      </div>
      <div class="ability">
        <h4>WIS</h4>
        <p>{{0}} ({{calcularStats(0)}})</p>
      </div>
      <div class="ability">
        <h4>CHA</h4>
        <p>{{0}} ({{calcularStats(0)}})</p>
      </div>
    </div>
    <hr>

    <div class="monster-abilities" style="width:55%" *ngIf="character.salvaciones">
      <div class="ability">
        <p *ngIf="character.salvaciones[0]!==null">-5</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[1]!==null">-5</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[2]!==null">-5</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[3]!==null">-5</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[4]!==null">-5</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[5]!==null">-5</p>
      </div>
    </div>

    <hr *ngIf="character.salvaciones">

    </div>

    <div *ngIf="activeTab ==='Stats' && !hidden">

      <h1 class="monster-name">{{character.nombre}}</h1><img class="card-img-top fotoDNI" src="{{ character.fotoPerfil }}" />
      <div class="monster-info">

      <p><strong>Tier List:</strong> {{character.tier}}</p>
      </div>



      <p><strong>Niveles de Clase: </strong><span>|
        <div class="nivelines" *ngFor="let r of character.clases" style="display: inline-block;">
          {{r.class}}  {{r.level }} | &nbsp; </div>
      <hr>
      </span></p>
      <p><strong>Hit Points:</strong> {{character.pv}}</p>
      <p><strong>CA:</strong> {{character.ca}}</p>
      <p><strong>Movimiento:</strong> {{character.movimiento}}ft | {{movementRound(character.movimiento / 3.3)}}m | {{movementRound(character.movimiento / 19.8)}}m/s</p>
      <p><strong>Competencia:</strong> +{{character.competencia}}</p>

    <hr>
    <div class="monster-abilities">
      <div class="ability">
        <h4>STR</h4>
        <p>{{character.fue}} ({{calcularStats(character.fue)}})</p>
      </div>
      <div class="ability">
        <h4>DEX</h4>
        <p>{{character.des}} ({{calcularStats(character.des)}})</p>
      </div>
      <div class="ability">
        <h4>CON</h4>
        <p>{{character.con}} ({{calcularStats(character.con)}})</p>
      </div>
      <div class="ability">
        <h4>INT</h4>
        <p>{{character.int}} ({{calcularStats(character.int)}})</p>
      </div>
      <div class="ability">
        <h4>WIS</h4>
        <p>{{character.sab}} ({{calcularStats(character.sab)}})</p>
      </div>
      <div class="ability">
        <h4>CHA</h4>
        <p>{{character.car}} ({{calcularStats(character.car)}})</p>
      </div>
    </div>
    <hr>

    <div class="monster-abilities" style="width:55%" *ngIf="character.salvaciones">
      <div class="ability">
        <p *ngIf="character.salvaciones[0]!==null">{{calcularSalvaciones(character.fue, character.salvaciones[0])}}</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[1]!==null">{{calcularSalvaciones(character.des, character.salvaciones[1])}}</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[2]!==null">{{calcularSalvaciones(character.con, character.salvaciones[2])}}</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[3]!==null">{{calcularSalvaciones(character.int, character.salvaciones[3])}}</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[4]!==null">{{calcularSalvaciones(character.sab, character.salvaciones[4])}}</p>
      </div>
      <div class="ability">
        <p *ngIf="character.salvaciones[5]!==null">{{calcularSalvaciones(character.car, character.salvaciones[5])}}</p>
      </div>
    </div>

    <hr *ngIf="character.salvaciones">


    <div class="monster-actions" *ngIf="counts(character.rasgos)">
      <div> <!--este faltaba y pegaba petada-->
      <br>
      <h4>Rasgos</h4>
      <hr>

      <div class="rasgos">
        <div *ngIf="Check(character.rasgos,'Accion')">
          <h3>Acciones</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Accion Adicional')">
          <h3>Acciones Adicionales</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion Adicional'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Accion de Movimiento')">
          <h3>Acciones de Movimiento</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion de Movimiento'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Accion Legendaria')">
          <h3>Acciones Legendarias</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion Legendaria'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Accion de Guarida')">
          <h3>Acciones de Guarida</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion de Guarida'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Accion Gratuita')">
          <br>
          <h3>Acciones Gratuitas</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion Gratuita'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Reaccion')">
          <h3>Reacciones</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Reaccion'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Pasiva')">
          <br>
          <h3>Pasivas</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Pasiva'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Resistencia')">
          <h3>Resistencias</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Resistencia'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Aura')">
          <h3>Auras</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me || r.privacy===true && reader)) && (r.type==='Aura'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Hechizos')">
          <h3>Hechizos</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me)|| (r.privacy===true && reader)) && (r.type==='Hechizos'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Transformacion')">
          <h3>Transformaciones</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me ) || (r.privacy===true && reader)) && (r.type==='Transformacion'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Competencia')">
          <h3>Competencias</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Competencia'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Sentidos')">
          <h3>Sentidos</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Sentidos'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Dote')">
          <h3>Dotes</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Dote'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Objeto')">
          <h3>Objetos</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Objeto'))">-<strong>{{ r.title }}</strong>: {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Voluntad')">
          <h3>Voluntad</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Voluntad'))">-<strong strong style="color:rgb(0, 171, 0);text-shadow: 1px 1px 1px black;">{{ r.title }}</strong> : {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Accion Combinada')">
          <h3>Acciones Combinadas</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Accion Combinada'))">-<strong style="color:rgb(255, 0, 0);text-shadow: 1px 1px 2px black;">{{ r.title }}</strong> : {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Razon')">
          <h3>Razón</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Razon'))">-<strong strong style="color:rgb(184, 5, 142);text-shadow: 1px 1px 0.5px black;">{{ r.title }}</strong> : {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Esfera de Realidad')">
          <h3>Esfera de Realidad</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Esfera de Realidad'))">-<strong style="color:rgb(0, 157, 255);text-shadow: 1px 1px 2px black;">{{ r.title }}</strong> : {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>


        <div *ngIf="Check(character.rasgos,'Singularidad')">
          <h3>Singularidad</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Singularidad'))">-<strong strong style="color:white;text-shadow: 2px 2px 4px black;">{{ r.title }}</strong> : {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

        <div *ngIf="Check(character.rasgos,'Reliquia')">
          <h3>Reliquia</h3>
            <br>
            <div *ngFor="let r of character.rasgos">
              <p *ngIf="((r.privacy === false || (r.privacy === true && me) || (r.privacy===true && reader)) && (r.type==='Reliquia'))">-<strong style="color:rgb(255, 255, 0);text-shadow: 2px 2px 4px black;">{{ r.title }}</strong> : {{ r.info }}</p>
            </div>
            <br>
          <hr>
        </div>

      </div>

      </div>
    </div>

    <!--<div *ngIf="counts(character.reliquia)">
      <hr>
      <h3>Reliquias</h3>
      <p *ngFor="let r of character.reliquia"><strong>- {{r}}</strong></p>
    </div>

    <div *ngIf="counts(character.singularidad)">
      <hr>
      <h3>Singularidad</h3>
      <p *ngFor="let s of character.singularidad"><strong>- {{s}}</strong></p>
    </div>-->

    </div>

    <div *ngIf="activeTab ==='Lore'">

      <div *ngIf="counts(character.facciones)">
        <hr>
        <h3>Facciones</h3>
        <p *ngFor="let f of character.facciones"><strong>- {{f}}</strong></p>
        <hr>
      </div>

      <div class="monster-traits">
        <h3>Lore</h3>
        <p>{{character.lore}}.</p>
      </div>
    </div>

    <div *ngIf="activeTab ==='Media'">
      <div *ngIf="counts(character.canciones)">
        <h3 >Temas de personaje</h3>
        <br>
          <div *ngFor="let t of character.canciones">
            <div *ngIf="(t.privacy === false || (t.privacy === true && me))">
              <p ><strong>- {{t.title}}: </strong> </p>
              <a class="song" href="{{t.link}}">{{t.link}}</a>
            </div>
            <hr>
          </div>
        </div>

        <div *ngIf="counts(character.galeria)">

          <h3>Gallery</h3>
        </div>
    </div>

</div>

<div *ngIf="activeTab ==='Media'">
  <div *ngIf="counts(character.galeria)" class="container-fluid mb-4 mt-4 row row-cols-4 row-cols-md-4 row-cols-xl-4 g-4">

    <img class="card-img-top" *ngFor="let foto of character.galeria" src="{{ foto }}" />
  </div>
</div>

<div class="card mt-4" id="cardCreator" (click)="navigateUserProfile()" *ngIf="charCreator">
  <div class="card-header purpleNeon text-white"><h5>Jugador</h5></div>
  <div class="card-body d-flex flex-row">
    <div>
      <img id="creatorImg" src={{charCreator.avatar}} alt="">
    </div>
    <div>
      <div><strong id="nameCreator">{{charCreator.name}}</strong></div>
    </div>
  </div>
</div>

  <div class="mt-4 mb-4">
    <button type="button" class="btn purpleButton" *ngIf="me" [routerLink]="['/characters', character._id, 'edit']">Editar</button>&nbsp;
      &nbsp;
    <button class="btn btn-primary" (click)="goBack()">Atrás</button>
      &nbsp;
    <button class="btn btn-danger deleteButton" *ngIf="me" (click)="deleteCharacter()">Delete</button>
  </div>
</div>
