img{
  width:50%;
  height:50%;
  margin-top: 3%;
  margin-left: 25%;
  margin-bottom: 1%;
  max-width: 800px;
  max-height: 800px;
}

.monster-sheet {
  /*max-width: 600px;*/
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f3dfb4;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.monster-sheet-red
{
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f3dfb4;
  border: 2px solid rgb(255, 0, 0) !important; /* Force the white border to apply */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.monster-name {
  font-size: 36px;
  margin-top: 0;
}

.monster-info p {
  margin: 0;
}

.monster-abilities {
  display: flex;
}

.monster-abilities .ability {
  flex: 1;
  text-align: center;
}

.monster-abilities h4 {
  margin: 0;
  font-size: 24px;
}

.monster-abilities p {
  margin: 0;
  font-size: 20px;
}

.monster-traits h3,
.monster-actions h3 {
  margin-top: 0;
}

.monster-traits p,
.monster-actions p {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.monster-traits p strong,
.monster-actions p strong {
  font-weight: bold;
}

.purpleButton{
  background-color:rgb(36, 155, 0);
  color:white;
}

.purpleNeon{
  background-color:red;
  color:white;
}

.intergalactico{
  font-size: 15px;
  font-family: 'Gothic';
  font-size: 20px;
  color: #FF0000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/*img#creatorImg{
  width: 2% !important;;
}*/

.song{
  color:blue !important;
  text-decoration: none;
  cursor: pointer;
}

.container-fluid img{
  width: 25% !important;
  height: 25% !important;
  margin-left: 0% !important;
}

.tabs-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #f3dfb4; /* Background color for the tab container */
}

/* Tab link styles */
.tab-link {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-right: 1px solid #ccc; /* Add a border between tabs */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.tab-link:last-child {
  border-right: none; /* Remove border for the last tab */
}

/* Active tab styles */
.tab-link.active {
  background-color: #007BFF; /* Background color for the active tab */
  color: #fff; /* Text color for the active tab */
}

h2{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Gothic';
  font-size: 40px;
  color: #FF0000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  background-color: #f3dfb4;
  border-top: 1px solid black;
}


#cardCreator.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Header style */
#cardCreator.card-header {
  background-color: #6a00a6;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Body style */
#cardCreator.card-body {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

/* Player name style */
#nameCreator {
  font-size: 20px;
  font-weight: bold;
  color: #e61a07;
  margin-bottom: 10px;
}

/* Avatar style */
#creatorImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

h5{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Gothic';
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h4{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
  white-space: pre-line;
}

.fotoDNI
{
  justify-content: right;
  text-align: right;
  width:20%;
  height:20%;
  margin-top: 0%;

  max-width: 250px;
  max-height: 350px;
  min-height: 350px;
  min-width: 250px;
}

.monster-name {
  display: inline-block; /* Make the name and image appear on the same line */
  margin-right: 10px; /* Adjust this margin as needed to separate the name and image */
}

.card-img-top.fotoDNI {
  float: right; /* Float the image to the right */
}

.nivelines{
  color:rgb(140, 65, 4)
}

hr{
  color: black;
}

.deleteButton{
  margin-left: 82%;
}

.contenedor{
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 501px)
{
  .rasgos{
    column-count: 2;
    column-gap: 60px;
    column-rule: 1px solid rgb(81, 81, 81);
  }
}


.rasgos h3{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.character-versions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for each character version item to make it look like a button */
.character-version-item {
  background-color: #f3dfb4; /* Soft pink background */
  color: #333; /* Dark text color for contrast */
  font-size: 1.1rem;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 15px; /* Rounded edges for a soft look */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition effect */
}

.character-version-item-red{
  background-color: #f3dfb4; /* Soft pink background */
  color: #333; /* Dark text color for contrast */
  font-size: 1.1rem;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 15px; /* Rounded edges for a soft look */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s ease; /* Smooth transition effect */
  border: 2px solid rgb(255, 0, 0) !important; /* Force the white border to apply */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Hover effect for a playful pop */
.character-version-item:hover {
  background-color: #f3dfb4; /* Slightly darker pink */
  transform: scale(1.05); /* Grow slightly on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.character-version-item-red:hover {
  background-color: #f3dfb4; /* Slightly darker pink */
  transform: scale(1.05); /* Grow slightly on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Optional: active effect for a button-like feel */
.character-version-item:active {
  transform: scale(0.98); /* Slight press-down effect */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.character-version-item-red:active {
  transform: scale(0.98); /* Slight press-down effect */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/*.monster-sheet{
  border: 1px white;
}*/

* {
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}

.monster-abilities span {
  margin: 0;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
