<h2 style="text-align: center;" [ngClass]="currentColor === 'dark' ? 'whiteColorForH2' : ''">Personajes ({{filteredCharacters.length}})</h2>

<nav class="navbar navbar-light bg-light justify-content-between mt-3 row" [ngClass]="currentColor === 'dark' ? 'navbar-dark-theme' : ''">

  <ul class="nav nav-pills col-auto ms-3 designs">
    <li class="nav-item">
      <p (click)="queryBuscar()" class="blue btn btn-success" [ngClass]="currentColor === 'dark' ? 'darkButtonGreen' : ''">Filtrar!</p>
    </li>
  </ul>

  <form class="container-fluid col">
    <input
      class="form-control"
      type="text"
      name="search"
      placeholder="Busca personajes aquí!"
      aria-label="Search"
      [(ngModel)]="search"
      [ngClass]="currentColor === 'dark' ? 'darkSelect' : ''"
    />
  </form>

  <ul class="nav nav-pills col-auto ms-3 designs">
    <li class="nav-item">
      <p (click)="changeDesign('old')" class="red btn btn-primary" [ngClass]="currentColor === 'dark' ? 'darkButtons' : ''">Webo Design</p>
    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3 designs">
    <li class="nav-item">
      <p (click)="changeDesign('new')" class="green btn btn-danger" [ngClass]="currentColor === 'dark' ? 'darkButtons' : ''">Old Design</p>
    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3 ">
    <li class="nav-item btn">
      <button class="btn btn-success dropdown-toggle" type="button" (click)="showExludingSelect = !showExludingSelect">
        Excluir Personajes
      </button>

      <div *ngIf="showExludingSelect" class="dropdown-menu show p-2" [ngClass]="currentColor === 'dark' ? 'darkSearchBar' : ''">

        <div style="margin-bottom: 10px;">
          <select class="dropdown-toggle btn btn-success" [(ngModel)]="selectedVersion" [ngModelOptions]="{standalone:true}">
            <option *ngFor="let option of versionOptions" value={{option.value}}>Versiones: {{option.label}}</option>
          </select>
        </div>

        <div style="margin-bottom: 10px;">
          <select class="dropdown-toggle btn btn-primary" [(ngModel)]="selectedBestiary" [ngModelOptions]="{standalone:true}">
            <option *ngFor="let option of bestiaryOptions" value={{option.value}}>Bestiario: {{option.label}}</option>
          </select>
        </div>

        <div style="margin-bottom: 10px;">
          <select class="dropdown-toggle btn btn-danger" [(ngModel)]="selectedDead" [ngModelOptions]="{standalone:true}">
            <option *ngFor="let option of deadOptions" value={{option.value}}>Muertos: {{option.label}}</option>
          </select>
        </div>

        <div>
          <select class="dropdown-toggle btn btn-dark" [(ngModel)]="SelectedMarcaNegra" [ngModelOptions]="{standalone:true}">
            <option *ngFor="let option of marcaNegraOptions" value={{option.value}}>Marca Negra: {{option.label}}</option>
          </select>
        </div>

      </div>

    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item btn">
      <button class="btn btnGranate dropdown-toggle" type="button" (click)="showFactionSelect = !showFactionSelect">
        Facciones:
      </button>
      <div *ngIf="showFactionSelect" class="dropdown-menu show p-2" [ngClass]="currentColor === 'dark' ? 'darkSearchBar' : ''">
        <input class="form-control mb-2" type="text" [ngClass]="currentColor === 'dark' ? 'darkSelect' : ''"   placeholder="Buscar Facción" [(ngModel)]="factionSearch">
        <div class="dropdown-divider"></div>
        <div class="btn-group w-100 mb-2">
          <button class="btn btn-outline-secondary" [class.active]="!alphabetical" (click)="alphabetical = false">
            Orden: Ninguno
          </button>
          <button class="btn btn-outline-secondary" [class.active]="alphabetical" (click)="alphabetical = true">
            Orden: Alfabético
          </button>
        </div>
        <select class="form-control w-100" [(ngModel)]="faction" [ngModelOptions]="{standalone:true}" [ngClass]="currentColor === 'dark' ? 'darkSelect' : ''">
          <option *ngFor="let option of factions | factionsFilter:factionSearch:alphabetical" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item btn dropdown" (click)="toggleDropdown()">
      <button
        class="btn btn-danger dropdown-toggle"
        type="button">
        Campañas:
      </button>
      <ul class="dropdown-menu p-3" *ngIf="isDropdownOpen" style="width: 200px;" [ngClass]="currentColor === 'dark' ? 'darkSearchBar2' : ''">
        <li *ngFor="let option of campaigns">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="selectedCampaigns.includes(option.value)"
              (change)="onCampaignChange($event, option.value)"
              (click)="$event.stopPropagation()"
              id="checkbox-{{option.value}}">
            <label class="form-check-label" for="checkbox-{{option.value}}">
              {{ option.label }}
            </label>
          </div>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item">
      <select class="form-control" [(ngModel)]="order" [ngModelOptions]="{standalone:true}" [ngClass]="currentColor === 'dark' ? 'darkSelect' : ''">
        <option *ngFor="let option of typeOfOrders" value={{option.value}}>Orden: {{option.label}}</option>
      </select>
    </li>
  </ul>

</nav>

<div *ngIf="design==='old'"
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 adriweboMargin"
>
  <div class="col" *ngFor="let character of characters | characterFilter:search:faction:order:selectedCampaigns:selectedVersion:selectedBestiary:SelectedMarcaNegra:selectedDead">
    <div class="card h-100 shadow" [ngClass]="currentColor === 'dark' ? 'darkBorders' : ''">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body" [ngClass]="currentColor === 'dark' ? 'darkBody' : ''">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ character.nombre }}</a></h4>
          <p class="card-text" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <!--<span class="badge ms-2 bg-success">Open_Text</span>  Replace 'Open_Text' with the actual open text
            <span class="badge ms-2 bg-danger">Close_Text</span> Replace 'Close_Text' with the actual close text -->
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>

            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>

            <div class="card-footer" [ngClass]="currentColor === 'dark' ? 'darkFooter' : ''">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
    </div>
  </div>
</div>



<div *ngIf="design==='new'"
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
>
  <div class="col" *ngFor="let character of characters | characterFilter:search:faction:order:selectedCampaigns:selectedVersion:selectedBestiary:SelectedMarcaNegra:selectedDead">
    <div class="card h-100 shadow" [ngClass]="currentColor === 'dark' ? 'darkBorders' : ''">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body" [ngClass]="currentColor === 'dark' ? 'darkBody' : ''">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]"  [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ character.nombre }}</a></h4>
          <p class="card-text" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <!--<span class="badge ms-2 bg-success">Open_Text</span>  Replace 'Open_Text' with the actual open text
            <span class="badge ms-2 bg-danger">Close_Text</span> Replace 'Close_Text' with the actual close text -->
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>

            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer" [ngClass]="currentColor === 'dark' ? 'darkFooter' : ''">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
    </div>
  </div>
</div>

<button (click)="onScroll()" class="cargarMas" *ngIf="buttonShow===true"> Cargar Más</button>
<button (click)="cargarDesdeCero()" class="volverAtras" *ngIf="volverButtonShow===true"> Volver Atrás</button>


