.normalMargin img{
  max-width:1500px !important;
  max-height:500px !important;
  min-height: 500px;
  height:90%;
  width:100%;
}

.card-title a {
  text-decoration: none;
  color: rgb(63, 59, 59) !important
}

.card img,a{
  justify-content: center;
  text-align: center;
}

.card{
  margin:170%px;
}

.adriweboMargin{
  margin-left:8%;
  margin-right:8%;
  padding-right:0%;
}

.adriweboMargin img{
  max-width:1500px !important;
  max-height:300px !important;
  min-height: 300px;
  height:65%;
  width:100%;
}

div.adriweboMargin col{
  margin-bottom: 10px !important;
}

.green{
  margin-top:18px;
  color: red;
  background-color: white;
}

.red{
  margin-top:18px;
  color: rgb(43, 122, 226);
  background-color: white;
}

.blue{
  margin-top:18px;
  color: rgb(2, 133, 13);
  background-color: white;
}

button.cargarMas{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button.volverAtras{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(31, 2, 253);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.designs{
  cursor:pointer;
}
