<div class="row mt-4" *ngIf="user">
  <div class="col-3">
    <img class="w-100" id="avatar" [src]="user.avatar" alt="" />
  </div>
  <div class="col-9">
    <h3>{{ user.name }}</h3>
    <p *ngIf="me">
      <a class="btn btn-danger" [routerLink]="['/users', 'edit']">Editar Perfil</a>
    </p>
    <div *ngIf="me && currentColor==='light'">
      <p class="btn btn-dark" (click)="cambiarColorWeb()">Modo Oscuro</p>
    </div>
    <div *ngIf="me && currentColor==='dark'">
      <p class="btn btn-light" (click)="cambiarColorWeb()">Modo Claro</p>
    </div>
    <h5 [ngClass]="currentColor === 'dark' ? 'whiteColorForH2' : ''">Número de personajes creados: {{characters.length}}</h5>
    <div>
      <br><br><br>
      <canvas *ngIf="!me"#myChartCanvas class="OtroPerfil"></canvas><!--canvas-->
      <canvas *ngIf="me" #myChartCanvas class="MiPerfil"></canvas><!--canvas-->
    </div>
  </div>
</div>

<h2 [ngClass]="currentColor === 'dark' ? 'whiteColorForH2' : ''">Personajes del Jugador</h2>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of characters">
    <div class="card h-100 shadow" [ngClass]="currentColor === 'dark' ? 'darkBorders' : ''">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body" [ngClass]="currentColor === 'dark' ? 'darkBody' : ''">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ character.nombre }}</a></h4>
          <p class="card-text" [ngClass]="currentColor === 'dark' ? 'darkName' : ''">{{ character.titulo }}</p>
            <div class="card-text">
            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer" [ngClass]="currentColor === 'dark' ? 'darkFooter' : ''">
              <small class="text-muted">{{ character.descripcion }}</small>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<button (click)="onScroll()" class="cargarMas" *ngIf="buttonShow===true"> Cargar Más</button>

