h2{
  text-align: center;
}

.card-title a {
  text-decoration: none;
  color: rgb(63, 59, 59) !important
}

.card img,a{
  justify-content: center;
  text-align: center;
}

.card{
  margin:170%px;
}

.normalMargin img{
  max-width:1500px !important;
  max-height:500px !important;
  min-height: 500px;
  height:90%;
  width:100%;
}

button.cargarMas{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

h3{
  font-size: 28px;
  font-family: 'Gothic';
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color:red;
}

canvas.OtroPerfil{
  height:600px !important;
  width:600px !important;
  margin-left: 40%;
  margin-top: -5%;
}

canvas.MiPerfil{
  height:600px !important;
  width:600px !important;
  margin-left: 40%;
  margin-top: -10%;
}

#avatar{
  max-height: 645px;
  min-height: 645px;
  max-width: 455px;
  min-width: 455px;
}

/* dark-mode */

.darkSearchBar{
  background-color: #131617;
  color:rgb(78, 78, 78);
  border-color: rgb(78, 78, 78);

}

.navbar-dark-theme {
  background-color: #131617 !important;
}

.darkSelect{
  background-color: #131617;
  border-color: rgb(78, 78, 78);
  color:white;
}

.darkButtons{
  background-color: #1d1c1c;
}

.darkSearchBar{
  background-color: #131617;
  color:rgb(78, 78, 78);
  border-color: rgb(78, 78, 78);

}

.darkBody{
  background-color: #131617;
}

.darkBorders{
  border: 1px solid #323232; /* Set the border to grey when darkBorders is triggered */
  border-radius: 0.25rem; /* Optional, adds rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Light shadow effect */
  --bs-card-bg: #323232; /* Set dark background for the card */
}

.darkName{
  color:rgb(184, 184, 184) !important;
}

a.darkName {
  color: rgb(184, 184, 184) !important;
}

.card .card-body a.darkName {
  color: rgb(184, 184, 184) !important;
}

  * {
    box-sizing: border-box; /* Include padding and border in element's total width/height */
  }

.darkFooter{
  border-top: rgb(46, 46, 46) 1.5px solid !important;
}

.whiteColorForH2{
  color:white;
}

