<h2>Añadir a la Iniciativa</h2>
<form (ngSubmit)="addCharacter()" #characterForm="ngForm">

  <label for="Vida" class="custom-label">Nombre del Personaje</label>
  <input type="text" placeholder="Escribe su nombre!" [(ngModel)]="newCharacter.name" name="name" required />

  <label for="Iniciativa" class="custom-label">Iniciativa</label>
  <input type="number" placeholder="Iniciativa" [(ngModel)]="newCharacter.initiative" name="initiative" required />

  <label for="Vida" class="custom-label">Vida</label>
  <input type="number" placeholder="HitPoints" [(ngModel)]="newCharacter.hitPoints" name="hitPoints" />

  <label for="Vida" class="custom-label">Anotaciones</label>
  <textarea type="text" placeholder="Redacta tus notas aquí!" [(ngModel)]="newCharacter.notes" name="notes" ></textarea>

  <button type="submit" [disabled]="!characterForm.form.valid">
    {{ editingIndex !== null ? 'Editar' : 'Añadir a la Iniciativa' }}

  </button>
</form>

<div style="margin-bottom: 1.5rem; display: flex; justify-content: center; align-items: center; gap: 1rem;">
  <button (click)="saveToLocalStorage()">💾 Guardar esta Iniciativa</button>
  <button (click)="clearLocalStorage()" style="margin-left: 1rem;">🗑️ Eliminar esta Iniciativa</button>
</div>

<h2>Iniciativa</h2>
<ul>
  <li *ngFor="let char of characters; let i = index" class="character-item">
    <div class="char-left">
      <strong>#{{ i + 1 }}  {{ char.name }}</strong>
      – Iniciativa: {{ char.initiative }} - <strong>PGs: {{char.hitPoints}}</strong> <br />
      <p>{{ char.notes }}</p>
    </div>
    <button (click)="editCharacter(i)" title="Edit" class="edit-button">✏️</button>
    <button (click)="deleteCharacter(i)" title="Delete" class="edit-button">❌</button>
  </li>
</ul>
