<nav class="navbar navbar-light bg-light justify-content-between mt-3 row">

  <form class="container-fluid col">
    <input
      class="form-control"
      type="text"
      name="search"
      placeholder="Busca personajes aquí!"
      aria-label="Search"
      [(ngModel)]="search"
    />
  </form>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item btn dropdown" (click)="toggleDropdown()">
      <button
        class="btn btn-danger dropdown-toggle"
        type="button">
        Campañas:
      </button>
      <ul class="dropdown-menu p-3" *ngIf="isDropdownOpen" style="width: 200px;">
        <li *ngFor="let option of campaigns">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="selectedCampaigns.includes(option.value)"
              (change)="onCampaignChange($event, option.value)"
              (click)="$event.stopPropagation()"
              id="checkbox-{{option.value}}">
            <label class="form-check-label" for="checkbox-{{option.value}}">
              {{ option.label }}
            </label>
          </div>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item btn">
      <select class="form-control" [(ngModel)]="faction" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let option of factions" value={{option.value}}>Facción: {{option.label}}</option>
      </select>
    </li>
  </ul>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item">
      <select class="form-control" [(ngModel)]="order" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let option of typeOfOrders" value={{option.value}}>Orden: {{option.label}}</option>
      </select>
    </li>
  </ul>

</nav>

<h3>DEUS EX MACHINA</h3>

  <div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of DeusChars | characterFilter:search:faction:order:selectedCampaigns ">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>

            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

  <h3>SUPREMOS</h3>

  <div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of SupremeChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

  <h3>SSSSS</h3>

  <div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of SSSSSChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>SSSS</h3>

<div
id="placesContainer"
class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
>
<div class="col" *ngFor="let character of SSSSChars | characterFilter:search:faction:order:selectedCampaigns">
  <div class="card h-100 shadow">
    <a [routerLink]="['/characters', character._id]">
      <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
    </a>
      <div class="card-body">
        <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
        <p class="card-text">{{ transformTitle(character.titulo) }}</p>
          <div class="card-text">

          </div>
          <div class="card-text">
              <small class="text-muted">
                  <strong>Tier List: </strong>{{ character.tier }}
              </small>
          </div>
          <small class="text-muted">
            <strong>Campaña: </strong>{{ character.campanya }}
          </small>
          <div *ngIf="character.muerto">
            <small class="text-muted">
              <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
            </small>
            <br>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
          </div>
      </div>
    </div>
  </div>
</div>

<h3>SSS</h3>

<div
id="placesContainer"
class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
>
<div class="col" *ngFor="let character of SSSChars | characterFilter:search:faction:order:selectedCampaigns">
  <div class="card h-100 shadow">
    <a [routerLink]="['/characters', character._id]">
      <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
    </a>
      <div class="card-body">
        <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
        <p class="card-text">{{ transformTitle(character.titulo) }}</p>
          <div class="card-text">

          </div>
          <div class="card-text">
              <small class="text-muted">
                  <strong>Tier List: </strong>{{ character.tier }}
              </small>
          </div>
          <small class="text-muted">
            <strong>Campaña: </strong>{{ character.campanya }}
          </small>
          <div *ngIf="character.muerto">
            <small class="text-muted">
              <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
            </small>
            <br>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
          </div>
      </div>
    </div>
  </div>
</div>

<h3>SS</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of SSChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>S</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of SChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>A</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of AChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>B</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of BChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>C</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of CChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>D</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of DChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>E</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of EChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

<h3>F</h3>

<div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of FChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Desconocido</h3>

  <div
  id="placesContainer"
  class="mb-1 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-6 g-3 normalMargin"
  >
  <div class="col" *ngFor="let character of UnknownChars | characterFilter:search:faction:order:selectedCampaigns">
    <div class="card h-100 shadow">
      <a [routerLink]="['/characters', character._id]">
        <img class="card-img-top" loading="lazy" src="{{ character.fotoPerfil }}" />
      </a>
        <div class="card-body">
          <h4 class="card-title"><a [routerLink]="['/characters', character._id]">{{ character.nombre }}</a></h4>
          <p class="card-text">{{ transformTitle(character.titulo) }}</p>
            <div class="card-text">

            </div>
            <div class="card-text">
                <small class="text-muted">
                    <strong>Tier List: </strong>{{ character.tier }}
                </small>
            </div>
            <small class="text-muted">
              <strong>Campaña: </strong>{{ character.campanya }}
            </small>
            <div *ngIf="character.muerto">
              <small class="text-muted">
                <strong>Estado: </strong> <span class="badge ms-2 bg-danger">Fallecido</span>
              </small>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ transformDescription(character.descripcion) }}</small>
            </div>
        </div>
      </div>
    </div>
  </div>
