h3{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Comic Sans MS', cursive;
  font-size: 40px;
  color: #FF0000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #FF0000;
  margin-bottom: 10px;
}

img{
  max-width:1500px !important;
  max-height:500px !important;
  min-height: 500px;
  height:90%;
  width:100%;
}

.card-title a {
  text-decoration: none;
  color: rgb(63, 59, 59) !important
}

.card img,a{
  justify-content: center;
  text-align: center;
}

.card{
  margin:170%px;
}
