<div class="container">
  <form class="mt-4" (ngSubmit)="addFaction()" #factionForm="ngForm">

    <div class="mb-3" [ngClass]="currentColor === 'dark' ? 'whiteColorForH2' : ''">
      <label for="name">Nombre de la Facción</label>
      <input
        type="text"
        class="form-control"
        name="titulo"
        id="titulo"
        [(ngModel)]="newFaction.titulo"
        placeholder="Introduce el titulo de la facción a crear!"
        required
        #tituloModel="ngModel"
        [ngClass]="currentColor === 'dark' ? 'darkSelect' : ''"
      />
      <div class="invalid-feedback" *ngIf="tituloModel.errors?.['required']">
        Introduce un título correcto
      </div>
      <div class="invalid-feedback" *ngIf="tituloModel.errors?.['pattern']">
        Introduce un título correcto.
      </div>
    </div>

    <div class="mb-3" [ngClass]="currentColor === 'dark' ? 'whiteColorForH2' : ''">
      Campaña <br>
      <select class="form-control" [(ngModel)]="newFaction.campanya" [ngClass]="currentColor === 'dark' ? 'darkSelect' : ''" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let option of campaigns" value={{option.value}}>{{option.label}}</option>
      </select>
    </div>

    <div>
      <button type="submit" class="btn btn-danger" *ngIf="!edit"[disabled]="factionForm.invalid">Crear</button>
      <button *ngIf="edit"
        type="submit"
        class="btn btn-danger"
        >
        Editar
      </button>
    </div>
  </form>
  </div>
