strong{
  text-align: right !important;
  color: red;
}

h3{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Comic Sans MS', cursive;
  font-size: 40px;
  color: #FF0000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #FF0000;
  margin-bottom: 10px;
}

/************************************************************************/

.containermenu {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid red
}

.containermenu h1 {
  color: #333;
}

.containermenu .btn {
  display: inline-block;
  padding: 10px 20px;

  color: #fff;
  border: none;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

.new-trait-form {
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.containermenu input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.containermenu label {
  display: block;
  margin: 5px 0;
}

.trait-list {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.containermenu li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trait-title {
  font-weight: bold;
  margin-right: 10px;
}

.trait-privacy {
  margin-left: 20px;
}

/* Style for Edit and Delete buttons */
.trait-list .btn {
  padding: 5px 10px;
  margin: 0 5px;
}
