.normalMargin img{
  max-width:1500px !important;
  max-height:500px !important;
  min-height: 500px;
  height:90%;
  width:100%;
}

.card-title a {
  text-decoration: none;
  color: rgb(63, 59, 59) !important
}

.card img,a{
  justify-content: center;
  text-align: center;
}

.card{
  margin:170%px;
}

#partidas li {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

#partidas li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f33321;
  margin-right: 10px;
}

#partidas a {
  color: #0a0a0a;
  font-size:120%;
  font-weight: bold;
  text-decoration: none;
}

#partidas a:hover {
  text-decoration: underline;
}

.tabs-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #f0f0f0; /* Background color for the tab container */
}

/* Tab link styles */
.tab-link {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  border-right: 1px solid #ccc; /* Add a border between tabs */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.tab-link:last-child {
  border-right: none; /* Remove border for the last tab */
}

/* Active tab styles */
.tab-link.active {
  background-color: #007BFF; /* Background color for the active tab */
  color: #fff; /* Text color for the active tab */
}

.adriweboMargin{
  margin-left:8%;
  margin-right:8%;
  padding-right:0%;
}

.adriweboMargin img{
  max-width:1500px !important;
  max-height:300px !important;
  min-height: 300px;
  height:65%;
  width:100%;
}

div.adriweboMargin col{
  margin-bottom: 10px !important;
}

.green{
  margin-top:18px;
  color: red;
  background-color: white;
}

.red{
  margin-top:18px;
  color: rgb(43, 122, 226);
  background-color: white;
}

.blue{
  margin-top:18px;
  color: rgb(2, 133, 13);
  background-color: white;
}

button.cargarMas{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button.volverAtras{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(31, 2, 253);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.designs{
  cursor:pointer;
}

div.tierList h3, .big{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: 'Gothic';
  font-size: 40px;
  color: #FF0000;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #FF0000;
  margin-bottom: 10px;
}

.deidades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
}

.deidades-container .group-container {
  width: 100%; /* Ensure each group takes up the full width */
  margin-bottom: 20px;
}

.deidades-container .cards-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  width: 100%; /* Ensure each card container takes up the full width */
}

.deidades-container .card {
  flex: 0 0 calc(33.333% - 20px); /* Adjust as needed */
  max-width: calc(33.333% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
}

.deidades-container .card-body {
  height: 150px; /* Set a fixed height for the card body */
  overflow: hidden; /* Hide overflow content */
}

.deidades-container .card-title {
  margin-bottom: 10px;
}

.deidades-container .card-img-top {
  width: 100%;
  height: auto;
}
